
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Circular Std';
    src: local('Circular Std Book'), url('./assets/Circular\ Std\ Book.woff2') format('woff2');
}
@font-face {
    font-family: 'Sofia Pro Regular';
    src: local('Sofia Pro Regular'), url('./assets/Sofia\ Pro\ Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Avenir';
    src: local('Avenir Black'), url('./assets/Avenir\ Black.woff') format('woff');
}

@import './components/Mini/mini';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes slide-in  {
    from {
        width: 0;
    }
}
@keyframes appear  {
    from {
        opacity: 0;
        transform: scale(.5);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}

body {
    // font-family: 'Circular Std';
    // font-family: 'Montserrat';
    font-family: "Sofia Pro Regular", sans-serif;
}

.img-alt-side, .alt-side img{
    transform: rotateY(180deg);
}

.vertical-text {
    p {
        transform: rotate(-90deg);
        margin-top: -10px;
        text-align: center;
    }
  }
  


.hero {
    height: 400vh;
  &__container {
    margin: 0 120px;
    position: relative;
    height: 25%;
    position: sticky;
    overflow-x: hidden;
    top: 0;
    &__lines {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        top: 0;
        z-index: -1;
        opacity: .1;
        & > * {
            background: rgba(#000, 5);
            width: 1px;
            height: 100vh;
            &:first-child, &:last-child {
                opacity: 0;
            }
        }
    }
    &__top {
        width: 100%;
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__logo {
            color: #000;
            font-family: Circular Std;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 18px; /* 56.25% */
        }
        &__icons {
            display: flex;
            justify-content: flex-end;
            gap: 24px;
        }
    }
    &__contents {
        display: grid;
        grid-template-columns: 220px auto 50px;
        position: absolute;
        height: 100%;
        top: 0;
        width: 100%;
        &__left {
            margin-top: 200px;
            display: grid;
            align-content: space-between;
            padding-bottom: 15px;
            position: relative;
            z-index: 2;

            .extra-care {
                &__text {
                    display: flex;
                    font-size: 44px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100.3%; /* 44.132px */
                    letter-spacing: -0.44px;
                    p {
                        font-weight: 400;
                        &:first-child {
                            font-weight: 700;;
                            background: #000;
                            color: #fff;
                        }
                    }
                }
                &__learn {
                    margin-top: 40px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    span {
                        width: 48px;
                        height: 1px;
                        background: #000;
                    };
                }
                h5 {
                    margin-top: 120px;
                }
            }
        }
        &__mid {
            position: relative;
            
            .carousel {
                display: flex;
                width: 400vw;
                position: absolute;
                bottom: 40px;
                left: (-340px);
                pointer-events: none;
                margin-left: -000%;
                .image-container {
                    width: 100vw;
                    display: flex;
                    justify-content: flex-end;
                    padding-right: 180px;
                    .image {
                        width: Min(1000px, 100%);
                    }
                }
            }
            .variation-1 {
                .img-top {
                    // transform: rotate(-15deg) translateY(-10%);
                    transform-origin: 50% 50%;
                }
            }

            .product {
                margin-left: 10%;
                margin-top: 17%;
                max-width: 603px;
                padding: 0 40px;
                &__text {
                    & > *{
                        font-size: 21px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        opacity: 0.4;
                    }
                    h1{
                        font-size: 62px;
                        font-style: normal;
                        font-weight: 100;
                        opacity: 1;
                        line-height: normal;
                        letter-spacing: -1.24px;
                        animation: appear 1s ease-in-out;
                        transform-origin: 0% 50%;
                        sup {
                            font-size: 22px;
                            letter-spacing: -0.44px;
                        }
                    }
                    h5 {
                        width: 65%;
                        height: 28px;
                        text-wrap: nowrap;
                        animation: slide-in 1s ease-in;
                        overflow: hidden;
                    }
                    p {
                        font-kerning: none;
                    }
                }
                &__cta {
                    display: flex;
                    align-items: center;
                    gap: 24px;
                    margin-top: 40px;
                    button {
                        border: none;
                        outline: none;
                        background: none;
                        display: flex;
                        gap: 8px;
                        align-items: center;
                        padding: 24px 32px;
                        background: rgba(#000, 1);
                        border-radius: 8px;
                        color: #fff;
                        transition: all .5s linear;
                        cursor: pointer;
                        position: relative;
                        z-index: 0;
                        &:hover {
                            background: rgba($color: #000000, $alpha: 0.9);
                            transform: scale(1.1);
                            transition: all .5s linear;
                            z-index: 2;
                        }
                        &:last-child {
                            color: #000;
                            border: 1px solid #000;
                            background: rgba($color: #000000, $alpha: 0);
                            &:hover {
                                background: rgba($color: #000000, $alpha: 0.2);
                                transform: scale(1.1);
                                transition: all .5s linear;
                            }
                        }
                    }
                }
            }

            .underlay {
                position: absolute;
                color: #ECCA7B;
                font-family: Avenir;
                font-size: 530px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                letter-spacing: -8.6px;
                opacity: 0.2;
                right: 60px;
                top: 7%;
                z-index: -1;
            }

            .tracker {
                position: absolute;
                bottom: 15px;
                left: 50%;
            }
            
        }
        &__right {
            margin-top: 200px;
            display: grid;
            align-content: space-between;
            justify-items: flex-end;
            padding-bottom: 15px;
            &__top {
                display: grid;
                gap: 32px;
            }

            &__bottom {
                display: grid;
                gap: 32px;
                padding-bottom: 5px;
                a {
                    text-decoration: none;
                    text-transform: none;
                    transform: rotate(-90deg);
                    transition: transform .5s linear;
                    color: inherit;
                    font-family: 'Circular Std';
                    &:hover  {
                        transform: rotate(0deg);
                        transition: transform .5s linear;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                    }
                }
            }
        }
    }
  }
}